/*
 * Allwinner Technology CO., Ltd. sun60iw2p1 soc board.
 *
 * soc board support.
 */

/ {
	backlight0: backlight0 {
		compatible = "pwm-backlight";
		status = "okay";
		brightness-levels = <
			  0   1   2   3   4   5   6   7
			  8   9  10  11  12  13  14  15
			 16  17  18  19  20  21  22  23
			 24  25  26  27  28  29  30  31
			 32  33  34  35  36  37  38  39
			 40  41  42  43  44  45  46  47
			 48  49  50  51  52  53  54  55
			 56  57  58  59  60  61  62  63
			 64  65  66  67  68  69  70  71
			 72  73  74  75  76  77  78  79
			 80  81  82  83  84  85  86  87
			 88  89  90  91  92  93  94  95
			 96  97  98  99 100 101 102 103
			104 105 106 107 108 109 110 111
			112 113 114 115 116 117 118 119
			120 121 122 123 124 125 126 127
			128 129 130 131 132 133 134 135
			136 137 138 139 140 141 142 143
			144 145 146 147 148 149 150 151
			152 153 154 155 156 157 158 159
			160 161 162 163 164 165 166 167
			168 169 170 171 172 173 174 175
			176 177 178 179 180 181 182 183
			184 185 186 187 188 189 190 191
			192 193 194 195 196 197 198 199
			200 201 202 203 204 205 206 207
			208 209 210 211 212 213 214 215
			216 217 218 219 220 221 222 223
			224 225 226 227 228 229 230 231
			232 233 234 235 236 237 238 239
			240 241 242 243 244 245 246 247
			248 249 250 251 252 253 254 255>;
		default-brightness-level = <73>;
		pwms = <&pwm19 19 25000 0>;
	};

	backlight1: backlight1 {
		compatible = "pwm-backlight";
		status = "okay";
		brightness-levels = <
			  0   1   2   3   4   5   6   7
			  8   9  10  11  12  13  14  15
			 16  17  18  19  20  21  22  23
			 24  25  26  27  28  29  30  31
			 32  33  34  35  36  37  38  39
			 40  41  42  43  44  45  46  47
			 48  49  50  51  52  53  54  55
			 56  57  58  59  60  61  62  63
			 64  65  66  67  68  69  70  71
			 72  73  74  75  76  77  78  79
			 80  81  82  83  84  85  86  87
			 88  89  90  91  92  93  94  95
			 96  97  98  99 100 101 102 103
			104 105 106 107 108 109 110 111
			112 113 114 115 116 117 118 119
			120 121 122 123 124 125 126 127
			128 129 130 131 132 133 134 135
			136 137 138 139 140 141 142 143
			144 145 146 147 148 149 150 151
			152 153 154 155 156 157 158 159
			160 161 162 163 164 165 166 167
			168 169 170 171 172 173 174 175
			176 177 178 179 180 181 182 183
			184 185 186 187 188 189 190 191
			192 193 194 195 196 197 198 199
			200 201 202 203 204 205 206 207
			208 209 210 211 212 213 214 215
			216 217 218 219 220 221 222 223
			224 225 226 227 228 229 230 231
			232 233 234 235 236 237 238 239
			240 241 242 243 244 245 246 247
			248 249 250 251 252 253 254 255>;
		default-brightness-level = <200>;
		pwms = <&pwm4 4 25000 0>;
	};

	lvds_panel: lvds_panel@0 {
		compatible = "sunxi-lvds";
		status = "okay";
		power-delay-ms = <10>;
		power0-supply = <&reg_dc1sw1>;
		power1-supply = <&reg_aldo3>;
		backlight = <&backlight0>;
		bus-format = <MEDIA_BUS_FMT_RGB888_1X7X4_SPWG>;
		/* dual lvds */
		// bus-format = <MEDIA_BUS_FMT_RGB888_1X7X4_JEIDA>;
		enable0-gpios = <&pio PE 14 1 0 3 1>;
		// enable1-gpios = <&pio PE 15 GPIO_ACTIVE_HIGH>;
		display-timings {
			native-mode = <&lvds0_timing0>;
			lvds0_timing0: timing0 {
				clock-frequency = <74871600>;
				hback-porch = <70>;
				hactive = <1280>;
				hfront-porch = <83>;
				hsync-len = <18>;
				vback-porch = <13>;
				vactive = <800>;
				vfront-porch = <37>;
				vsync-len = <10>;
			};
			/* dual lvds */
			lvds0_timing1: timing1 {
				clock-frequency = <149970240>;
				hback-porch = <64>;
				hactive = <1920>;
				hfront-porch = <64>;
				hsync-len = <16>;
				vback-porch = <4>;
				vactive = <1200>;
				vfront-porch = <4>;
				vsync-len = <3>;
			};
		};
		port {
			lvds0_panel_in: endpoint {
				remote-endpoint = <&lvds0_panel_out>;
			};
		};
	};

	lvds_panel1: lvds_panel1@0 {
		compatible = "sunxi-lvds";
		status = "disabled";
		power-delay-ms = <10>;
		power0-supply = <&reg_dc1sw1>;
		power1-supply = <&reg_aldo3>;
		backlight = <&backlight1>;
		bus-format = <MEDIA_BUS_FMT_RGB888_1X7X4_SPWG>;
		/* dual lvds */
		// bus-format = <MEDIA_BUS_FMT_RGB888_1X7X4_JEIDA>;
		//enable1-gpios = <&pio PE 15 GPIO_ACTIVE_HIGH>;
		enable0-gpios = <&pio PI 16 1 0 3 1>;
		// enable1-gpios = <&pio PI 15 1 0 3 1>;
		display-timings {
			native-mode = <&lvds1_timing0>;
			lvds1_timing0: timing0 {
				clock-frequency = <74871600>;
				hback-porch = <70>;
				hactive = <1280>;
				hfront-porch = <83>;
				hsync-len = <18>;
				vback-porch = <13>;
				vactive = <800>;
				vfront-porch = <37>;
				vsync-len = <10>;
			};
			/* dual lvds */
			lvds1_timing1: timing1 {
				clock-frequency = <149970240>;
				hback-porch = <64>;
				hactive = <1920>;
				hfront-porch = <64>;
				hsync-len = <16>;
				vback-porch = <4>;
				vactive = <1200>;
				vfront-porch = <4>;
				vsync-len = <3>;
			};
		};
		port {
			lvds1_panel_in: endpoint {
				remote-endpoint = <&lvds1_panel_out>;
			};
		};
	};

	dsi_panel: dsi_panel@0 {
		compatible = "allwinner,panel-dsi";
		status = "disabled";
		power-delay-ms = <10>;
		power0-supply = <&reg_dc1sw1>;
		power1-supply = <&reg_aldo3>;

		enable0-gpios = <&pio PE 14 GPIO_ACTIVE_HIGH>;
		// enable1-gpios = <&pio PE 15 GPIO_ACTIVE_HIGH>;
		// reset-num = <2>;
		// reset-delay-ms = <20>;
		// reset-gpios = <&pio PA 2 GPIO_ACTIVE_HIGH>; //reset
		backlight = <&backlight0>;
		dsi,flags = <(MIPI_DSI_MODE_VIDEO)>;
		dsi,lanes = <4>;
		dsi,format = <0>;

		panel-init-sequence = [
			39 01 04 B9 FF 83 94
			39 01 03 BA 73 83
			39 01 10 B1 6C 15 15 24 E4 11 F1 80 E4 D7 23 80 C0 D2 58
			39 01 0C B2 00 64 10 07 20 1C 08 08 1C 4D 00
			39 01 0D B4 00 FF 03 5A 03 5A 03 5A 01 6A 01 6A

			39 01 1F D3 00 06 00 40 1A 08 00 32 10
			07 00 07 54 15 0F 05 04 02 12
			10 05 07 33 33 0B 0B 37 10 07 07

			39 01 2D D5 19 19 18 18 1A 1A 1B 1B 04
			05 06 07 00 01 02 03 20 21 18
			18 18 18 18 18 18 18 18 18 18
			18 22 23 18 18 18 18 18 18 18
			18 18 18 18 18

			39 01 2D D6 18 18 19 19 1A 1A 1B 1B 03
			02 01 00 07 06 05 04 23 22 18
			18 18 18 18 18 18 18 18 18 18
			18 21 20 18 18 18 18 18 18 18
			18 18 18 18 18

			39 01 2B E0 00 06 0C 31 34 3F 1D 41 06
			0A 0C 17 0F 12 15 13 14 07 12
			15 16 00 06 0B 30 34 3F 1D 40
			07 0A 0D 18 0E 12 14 12 14 08
			13 14 19

			39 01 03 B6 3A 3A
			15 01 02 CC 09
			15 01 02 D2 55
			39 01 03 C0 30 14
			39 01 04 BF 41 0E 01
			39 01 05 C7 00 C0 40 C0
			15 01 02 DF 8E
			05 78 01 11
			05 14 01 29
		];

		panel-exit-sequence = [
			05 00 01 28
			05 78 01 10
		];

		display-timings {
			native-mode = <&timing0>;
			timing0: timing0 {
				clock-frequency = <74880000>;
				hback-porch = <24>;
				hactive = <800>;
				hfront-porch = <132>;
				hsync-len = <4>;
				vback-porch = <8>;
				vactive = <1280>;
				vfront-porch = <8>;
				vsync-len = <4>;
			};
		};
		port {
			panel0_in: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&panel_output_0>;
			};
		};
	};

	edp_panel: edp_panel {
		compatible = "edp-general-panel";
		status = "okay";
		power0-supply = <&reg_dc1sw1>;
		power1-supply = <&reg_dcdc1>;
		power-delay-ms = <50>;
		backlight = <&backlight1>;
		ports {
			#address-cells = <1>;
			#size-cells = <0>;
			panel_in_edp: port@0 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0>;
				edp_panel_in: endpoint@0 {
					reg = <0>;
					remote-endpoint = <&edp_panel_out>;
				};
			};
		};
	};

};

&platform {
	eraseflag   = <1>;
	next_work   = <3>;
	debug_mode  = <4>;
};

&target {
	boot_clock = <1008>;	/*CPU boot frequency, Unit: MHz*/
	storage_type = <0xffffffff>; /*boot medium, 0-nand, 1-card0, 2-card2, -1(defualt)auto scan*/
	burn_key = <1>;		/*1:support burn key; 0:not support burn key*/
	dragonboard_test = <0>;	/*1:support card boot dragonboard; 0:not support card boot dragonboard*/
};

&power_sply {
	ntc_status = <2>;
	battery_exist = <0>;
};

&charger0 {
	pmu_safe_vol = <3400>;
	bat_bmp_type = <1>;
	ntc_cur = <60>;
	safe_temp_H = <600>;//60
	safe_temp_L = <0xFFFFFFCE>;//-5
	pmu_bat_temp_para1 = <4541>; //Murata -25
	pmu_bat_temp_para2 = <2762>; //-15
	pmu_bat_temp_para3 = <2180>; //-10
	pmu_bat_temp_para4 = <1732>; //-5
	pmu_bat_temp_para5 = <1386>;//0
	pmu_bat_temp_para6 = <1117>; //5
	pmu_bat_temp_para7 = <905>; //10
	pmu_bat_temp_para8 = <606>; //20
	pmu_bat_temp_para9 = <414>; //30
	pmu_bat_temp_para10 = <290>; //40
	pmu_bat_temp_para11 = <244>; //45
	pmu_bat_temp_para12 = <205>; //50
	pmu_bat_temp_para13 = <176>; //55
	pmu_bat_temp_para14 = <150>; //60
	pmu_bat_temp_para15 = <111>; //70
	pmu_bat_temp_para16 = <83>; //80
};

&twi6 {
	clock-frequency = <200000>;
	pinctrl-0 = <&s_twi0_pins_a>;
	pinctrl-1 = <&s_twi0_pins_b>;
	twi-supply = <&reg_aldo3>;
	status = "okay";

	pmu1: pmu@36 {
		compatible = "x-powers,axp8191";
		reg = <0x36>;
		status = "okay";
		regulator0: regulators@0 {
			reg_dcdc1: dcdc1 {
				regulator-name = "axp8191-dcdc1";
			};
			reg_dcdc2: dcdc2 {
				regulator-name = "axp8191-dcdc2";
			};
			reg_dcdc3: dcdc3 {
				regulator-name = "axp8191-dcdc3";
			};
			reg_dcdc4: dcdc4 {
				regulator-name = "axp8191-dcdc4";
			};
			reg_dcdc5: dcdc5 {
				regulator-name = "axp8191-dcdc5";
			};
			reg_dcdc6: dcdc6 {
				regulator-name = "axp8191-dcdc6";
			};
			reg_dcdc7: dcdc7 {
				regulator-name = "axp8191-dcdc7";
			};
			reg_dcdc8: dcdc8 {
				regulator-name = "axp8191-dcdc8";
			};
			reg_dcdc9: dcdc9 {
				regulator-name = "axp8191-dcdc9";
			};
			reg_rtcldo: rtcldo {
				regulator-name = "axp8191-rtcldo";
			};
			reg_aldo1: aldo1 {
				regulator-name = "axp8191-aldo1";
			};
			reg_aldo2: aldo2 {
				regulator-name = "axp8191-aldo2";
			};
			reg_aldo3: aldo3 {
				regulator-name = "axp8191-aldo3";
			};
			reg_aldo4: aldo4 {
				regulator-name = "axp8191-aldo4";
			};
			reg_aldo5: aldo5 {
				regulator-name = "axp8191-aldo5";
			};
			reg_aldo6: aldo6 {
				regulator-name = "axp8191-aldo6";
			};
			reg_dldo1: dldo1 {
				regulator-name = "axp8191-dldo1";
			};
			reg_dldo2: dldo2 {
				regulator-name = "axp8191-dldo2";
			};
			reg_dldo3: dldo3 {
				regulator-name = "axp8191-dldo3";
			};
			reg_dldo4: dldo4 {
				regulator-name = "axp8191-dldo4";
			};
			reg_dldo5: dldo5 {
				regulator-name = "axp8191-dldo5";
			};
			reg_dldo6: dldo6 {
				regulator-name = "axp8191-dldo6";
			};
			reg_eldo1: eldo1 {
				regulator-name = "axp8191-eldo1";
			};
			reg_eldo2: eldo2 {
				regulator-name = "axp8191-eldo2";
			};
			reg_eldo3: eldo3 {
				regulator-name = "axp8191-eldo3";
			};
			reg_eldo4: eldo4 {
				regulator-name = "axp8191-eldo4";
			};
			reg_eldo5: eldo5 {
				regulator-name = "axp8191-eldo5";
			};
			reg_eldo6: eldo6 {
				regulator-name = "axp8191-eldo6";
			};
			reg_dc1sw1: dc1sw1 {
				regulator-name = "axp8191-dc1sw1";
				swin-supply = <&reg_dcdc1>;
				regulator-always-on;
				regulator-boot-on;
			};
			reg_dc1sw2: dc1sw2 {
				regulator-name = "axp8191-dc1sw2";
				swin-supply = <&reg_dcdc1>;
				regulator-always-on;
				regulator-boot-on;
			};
		};
	};
};

&sdc0_pins_a {
		allwinner,pins = "PF0", "PF1",
				 "PF3", "PF4", "PF5";
		allwinner,function = "sdc0";
		allwinner,muxsel = <2>;
		allwinner,drive = <0>;
		allwinner,pull = <1>;
};

&sdc0_pins_b {
		allwinner,pins = "PF2";
		allwinner,function = "sdc0";
		allwinner,muxsel = <2>;
		allwinner,drive = <2>;
		allwinner,pull = <1>;
};

&sdc0_pins_c {
		allwinner,pins = "PF0", "PF1", "PF2",
		  		 "PF3", "PF4", "PF5";
		allwinner,function = "uart0_jtag";
		allwinner,muxsel = <3>;
		allwinner,drive = <0>;
		allwinner,pull = <1>;
};

&sdc2_pins_a {
		allwinner,pins = "PC6",
				 "PC8", "PC9", "PC10", "PC11",
				 "PC13", "PC14", "PC15", "PC16";
		allwinner,function = "sdc3";
		allwinner,muxsel = <4>;
		allwinner,drive = <1>;
		allwinner,pull = <1>;
};

&sdc2_pins_b {
		allwinner,pins = "PC1", "PC5";
		allwinner,function = "sdc3";
		allwinner,muxsel = <4>;
		allwinner,drive = <3>;
		allwinner,pull = <1>;
};

&sdc2_pins_c {
		allwinner,pins = "PC0";
		allwinner,function = "sdc3";
		allwinner,muxsel = <4>;
		allwinner,drive = <3>;
		allwinner,pull = <2>;
};

&pwm4_pin_active {
		allwinner,pins = "PD22";
		allwinner,function = "pwm0_4";
		allwinner,muxsel = <0x2>;
		allwinner,drive = <3>;
		allwinner,pull = <2>;
};

&pwm4_pin_sleep {
		allwinner,pins = "PD22";
		allwinner,function = "io_disabled";
		allwinner,muxsel = <0xf>;
		allwinner,drive = <3>;
		allwinner,pull = <2>;
};

&pwm16_pin_active {
	allwinner,pins = "PI15";
	allwinner,function = "pwm1_6";
	allwinner,muxsel = <0x5>;
	allwinner,drive = <3>;
	allwinner,pull = <2>;
};

&pwm16_pin_sleep {
	allwinner,pins = "PI15";
	allwinner,function = "io_disabled";
	allwinner,muxsel = <0xf>;
	allwinner,drive = <3>;
	allwinner,pull = <2>;
};

&pwm19_pin_active {
	allwinner,pins = "PE15";
	allwinner,function = "pwm1_9";
	allwinner,muxsel = <0x5>;
	allwinner,drive = <3>;
	allwinner,pull = <2>;
};

&pwm19_pin_sleep {
	allwinner,pins = "PE15";
	allwinner,function = "io_disabled";
	allwinner,muxsel = <0xf>;
	allwinner,drive = <3>;
	allwinner,pull = <2>;
};

&card0_boot_para {
		/* Avoid dtc compiling warnings. @TODO: Developer should modify this to the actual value */
		/* reg = <0x0 0x2 0x0 0x0>;  [> Avoid dtc compiling warnings. @TODO: Developer should modify this to the actual value <] */
	device_type = "card0_boot_para";
	card_ctrl = <0x0>;
	card_high_speed = <0x1>;
	card_line = <0x4>;
	clk_mmc = "sdmmc0_mod";
	pll-0 = "hosc";
	pll-1 = "pll_periph1_400m";
	pll-2 = "pll_periph1_300m";
	pinctrl-0 = <&sdc0_pins_a &sdc0_pins_b>;
	clk_type = "typ1";
};

&card2_boot_para {
	/*
	* Avoid dtc compiling warnings.
	* @TODO: Developer should modify this to the actual value
	*/
	reg = <0x0 0x3 0x0 0x0>;
	device_type = "card2_boot_para";
	card_ctrl = <0x2>;
	card_high_speed = <0x1>;
	card_line = <0x8>;
	clk_mmc = "sdmmc2_mod";
	pll-0 = "hosc";
	pll-1 = "pll_periph1_800m";
	pll-2 = "pll_periph1_600m";
	pinctrl-0 = <&sdc2_pins_a &sdc2_pins_c &sdc2_pins_b>;
	sdc_ex_dly_used = <0x2>;
	sdc_tm4_hs200_max_freq = <200>;
	sdc_tm4_hs400_max_freq = <200>;
	sdc_tm4_win_th = <0x7>;
	sdc_io_1v8 = <0x1>;
	sdc_mbus = <0x1>;
	sdc_type = "tm4";
	clk_type = "typ1";
};

/*
 *recovery_adc_used :  模块使能端，    1：开启，0：关闭
 *press_mode_enable :  长短按模式使能，1：开启，0：关闭
 *                     a)如果开启了该模式，则key_work_mode失效，short_press_mode和long_press_mode生效,
 *                     recovery按键可以通过长按和短按来触发两种不同的模式;
 *                     b)如果关闭了该模式，则key_work_mode生效，recovery按键只能触发一种模式.
 *key_work_mode     :  模式选择
 *                     0: 刷机,
 *                     1: 一键恢复(uboot阶段),
 *                     2: 安卓recovery,
 *                     3: 安卓恢复出厂设置.
 *                     如果不设置，模式为安卓recovery.
 *short_press_mode  :  长按触发的模式，选项同上.
 *long_press_mode   :  短按触发的模式，选项同上.
 *key_press_time    :  定义长按的时间，单位:毫秒.
 *recovery_key      :  按键配置.
 */
&adc_boot_recovery {
	recovery_adc_used = <1>;
	recovery_adc_channel = <0>; /* vol+ key */
	press_mode_enable = <1>;
	short_press_mode = <0x0>;
	long_press_mode = <0x2>;
	key_press_time = <2000>;
	key_min = <9>;
	key_max = <11>;
};

&gpadc_boot_recovery {
	recovery_adc_used = <1>;
	recovery_adc_channel = <9>; /* recovery key */
	press_mode_enable = <1>;
	short_press_mode = <0x0>;
	long_press_mode = <0x3>;
	key_press_time = <5000>;
	key_min = <455>;
	key_max = <500>;
};

&de {
	chn_cfg_mode = <2>;
	status = "okay";
};

&sunxi_drm {
	status = "okay";
};

&vo0 {
	status = "okay";
};

&vo1 {
	status = "okay";
};

&lcd0 {
	status = "okay";
};

&lcd2 {
	status = "okay";
};

&edp0 {
	/* lane_invert = <lane0_invert lan1_invert lan2 invert lane_invert>*/
	compatible = "allwinner,drm-edp";
	/* compatible = "allwinner,drm-dp"; */
	status = "okay";
	edp_colordepth = <8>; /* 6/8/10/12/16 */
	edp_color_fmt = <0>; /* 0:RGB  1: YUV444  2: YUV422 */
	edp_pixel_mode = <1>;

	vcc-edp-supply = <&reg_dldo2>;
	vdd-edp-supply = <&reg_dcdc2>;

	ports {
		edp_out: port@1 {
			edp_panel_out: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&edp_panel_in>;
			};
		};
	};
};

&serdes {
	status = "okay";
	combophy0: combo-phy0@6c01000 {
		lane_invert = <0 0 0 0>;
		lane_remap = <2 3 0 1>;
	};
};

&pcie_rc {
	pcie1v8_supply = "dldo2";
	pcie3v3_supply = "dc1sw1";
	status = "okay";
};

&dsi0 {
	status = "disabled";
	pinctrl-0 = <&dsi0_4lane_pins_a>;
	pinctrl-1 = <&dsi0_4lane_pins_b>;
	pinctrl-names = "active","sleep";

	ports {
		dsi0_out: port@1{
			dsi_out_panel: endpoint {
				remote-endpoint = <&panel_input>;
			};
		};
	};
	panel: panel@0 {
		compatible = "allwinner,virtual-panel";
		status = "okay";
		reg = <0>;
		ports {
			panel_in: port@0 {
				reg = <0>;
				panel_input: endpoint@0 {
					reg = <0>;
					remote-endpoint = <&dsi_out_panel>;
				};
			};
			panel_out: port@1 {
				reg = <1>;
				panel_output_0: endpoint@0 {
					reg = <0>;
					remote-endpoint = <&panel0_in>;
				};
			};
		};
	};
};

&lvds0 {
	status = "okay";
	dual-channel = <0>;
	pinctrl-0 = <&lvds0_pins_a>;
	pinctrl-1 = <&lvds0_pins_b>;
	/* dual lvds */
	// dual-channel = <1>;
	// pinctrl-0 = <&lvds0_pins_a &lvds1_pins_a>;
	// pinctrl-1 = <&lvds0_pins_b &lvds1_pins_b>;
	pinctrl-names = "active","sleep";
	ports {
		port@1 {
			reg = <1>;
			lvds0_panel_out: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&lvds0_panel_in>;
			};
		};
	};
};

&lvds1 {
	status = "okay";
	dual-channel = <0>;
	pinctrl-0 = <&lvds2_pins_a>;
	pinctrl-1 = <&lvds2_pins_b>;
	/* dual lvds */
	// dual-channel = <1>;
	// pinctrl-0 = <&lvds0_pins_a &lvds1_pins_a>;
	// pinctrl-1 = <&lvds0_pins_b &lvds1_pins_b>;
	pinctrl-names = "active","sleep";
	ports {
		port@1 {
			reg = <1>;
			lvds1_panel_out: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&lvds1_panel_in>;
			};
		};
	};
};

&sid {
	sid-supply = <&reg_dldo6>;
	voltage = <1800>;
	power_supply = "dldo6";
};

&dsi0combophy {
	status = "okay";
};

/* dual lvds or each other */
&dsi1combophy {
	status = "disabled";
};

&tv0 {
	status = "okay";
};

&tv1 {
	status = "okay";
};

&hdmi0 {
	dcdc2-supply = <&reg_dcdc2>;
	dldo2-supply = <&reg_dldo2>;
	hdmi_power0 = "dcdc2-supply";
	hdmi_power1 = "dldo2-supply";
	uhdmi_power_count = <2>;

	/*
	 * @uhdmi_fast_output: config uboot hdmi boot mode
	 *	- 1: use fast output mode. will only output 1080P video.
	 *	- 0: use compatible output mode. will read edid and check config mode
	 * @uhdmi_resistor_select: select hdmi resistor config. Actual onboard config!!!
	 *	- 1: use onboard resistor
	 *	- 0: use onchip resistor
	 */
	uhdmi_fast_output = <0>;
	uhdmi_resistor_select = <1>;

	/* match rule: min clk <= clock < max clk */
	snps_phy = <
		 25000 185625 0x0007 0x8160 0x8188
		185625 185625 0x0007 0x8160 0x8198
		185625 340000 0x0004 0x8040 0x8E85
		340000 600000 0x0000 0x80c0 0x82F6>;

	status = "okay";
};

&disp0_dsi0 {
	enable = <0>;
	status = "disabled";
	logo,uboot = "bootlogo.bmp";
};

&disp1_lvds0 {
	enable = <1>;
	status = "disabled";
	logo,uboot = "bootlogo.bmp";
};

&disp1_lvds1 {
	enable = <0>;
	status = "disabled";
	logo,uboot = "bootlogo.bmp";
};

&disp0_hdmi0 {
	enable = <1>;
	status = "okay";
	logo,uboot = "bootlogo.bmp";
};

&pwm4{
	pinctrl-names = "active","sleep";
	pinctrl-0 = <&pwm4_pin_active>;
	pinctrl-1 = <&pwm4_pin_sleep>;
	status = "okay";
};

&pwm16 {
	pinctrl-names = "active","sleep";
	pinctrl-0 = <&pwm16_pin_active>;
	pinctrl-1 = <&pwm16_pin_sleep>;
	status = "disabled";
};

&pwm19 {
	pinctrl-names = "active","sleep";
	pinctrl-0 = <&pwm19_pin_active>;
	pinctrl-1 = <&pwm19_pin_sleep>;
	status = "okay";
};
