// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2021 Rockchip Electronics Co., Ltd
 *
 */

/dts-v1/;
#include "rk3588.dtsi"
#include "rk3588-u-boot.dtsi"
#include <dt-bindings/input/input.h>
//#include <rk3588-rk806-single.dtsi>

/ {
	model = "Orange Pi 5";
	compatible = "rockchip,rk3588s-orangepi-5", "rockchip,rk3588";

	adc-keys {
		compatible = "adc-keys";
		io-channels = <&saradc 1>;
		io-channel-names = "buttons";
		keyup-threshold-microvolt = <1800000>;
		u-boot,dm-pre-reloc;
		status = "okay";

		volumeup-key {
			u-boot,dm-pre-reloc;
			linux,code = <KEY_VOLUMEUP>;
			label = "volume up";
			press-threshold-microvolt = <1750>;
		};
	};

	vcc5v0_sys: vcc5v0-sys {
		u-boot,dm-pre-reloc;
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};

	vcc3v3_pcie2x1l2: vcc3v3-pcie2x1l2 {
		u-boot,dm-pre-reloc;
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_pcie2x1l2";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		enable-active-high;
		gpios = <&gpio0 RK_PC5 GPIO_ACTIVE_HIGH>;
		startup-delay-us = <50000>;
		vin-supply = <&vcc5v0_sys>;
	};

	vcc_1v1_nldo_s3: vcc-1v1-nldo-s3 {
		u-boot,dm-pre-reloc;
		compatible = "regulator-fixed";
		regulator-name = "vcc_1v1_nldo_s3";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1100000>;
		regulator-max-microvolt = <1100000>;
		vin-supply = <&vcc5v0_sys>;
	};

	reserved-memory {
		u-boot,dm-pre-reloc;
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;
		drm_logo: drm-logo@00000000 {
			u-boot,dm-pre-reloc;
			compatible = "rockchip,drm-logo";
			reg = <0x0 0x0 0x0 0x0>;
		};
	};
};

#if 0
&sata0 {
	u-boot,dm-pre-reloc;
	pinctrl-names = "default";
	pinctrl-0 = <&sata_reset>;
	status = "okay";
};

# else

&pcie2x1l2 {
	u-boot,dm-pre-reloc;
	reset-gpios = <&gpio3 RK_PD1 GPIO_ACTIVE_HIGH>;
	vpcie3v3-supply = <&vcc3v3_pcie2x1l2>;
	status = "okay";
};
#endif

&combphy0_ps {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&u2phy0 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&u2phy0_otg {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&u2phy2 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&u2phy2_host {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&u2phy3 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&u2phy3_host {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&usb_host0_ehci {
	u-boot,dm-pre-reloc;
	compatible = "rockchip,rk3588-ehci", "generic-ehci";
	reg = <0x0 0xfc800000 0x0 0x40000>;
	interrupts = <0 215 4>;
	clocks = <&cru 413>, <&cru 414>, <&u2phy2>;
	clock-names = "usbhost", "arbiter", "utmi";
	companion = <&usb_host0_ohci>;
	phys = <&u2phy2_host>;
	phy-names = "usb2-phy";
	power-domains = <&power 31>;
	status = "okay";
};

&usb_host0_ohci {
	u-boot,dm-pre-reloc;
	compatible = "generic-ohci";
	reg = <0x0 0xfc840000 0x0 0x40000>;
	interrupts = <0 216 4>;
	clocks = <&cru 413>, <&cru 414>, <&u2phy2>;
	clock-names = "usbhost", "arbiter", "utmi";
	phys = <&u2phy2_host>;
	phy-names = "usb2-phy";
	power-domains = <&power 31>;
	status = "okay";
};

&usb_host1_ehci {
	u-boot,dm-pre-reloc;
	compatible = "rockchip,rk3588-ehci", "generic-ehci";
	reg = <0x0 0xfc880000 0x0 0x40000>;
	interrupts = <0 218 4>;
	clocks = <&cru 415>, <&cru 416>, <&u2phy3>;
	clock-names = "usbhost", "arbiter", "utmi";
	companion = <&usb_host1_ohci>;
	phys = <&u2phy3_host>;
	phy-names = "usb2-phy";
	power-domains = <&power 31>;
	status = "okay";
};

&usb_host1_ohci {
	u-boot,dm-pre-reloc;
	compatible = "generic-ohci";
	reg = <0x0 0xfc8c0000 0x0 0x40000>;
	interrupts = <0 219 4>;
	clocks = <&cru 415>, <&cru 416>, <&u2phy3>;
	clock-names = "usbhost", "arbiter", "utmi";
	phys = <&u2phy3_host>;
	phy-names = "usb2-phy";
	power-domains = <&power 31>;
	status = "okay";
};

&usbdrd3_0 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&usbdrd_dwc3_0 {
	u-boot,dm-pre-reloc;
	dr_mode = "host";
	status = "okay";
};

&usbhost3_0 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&usbhost_dwc3_0 {
	u-boot,dm-pre-reloc;
	dr_mode = "host";
	status = "okay";
};

&vop {
	u-boot,dm-pre-reloc;
	status = "okay";
	assigned-clocks = <&cru ACLK_VOP>;
	assigned-clock-rates = <800000000>;
};

&vop_mmu {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&display_subsystem {
	u-boot,dm-pre-reloc;
	memory-region = <&drm_logo>;
	memory-region-names = "drm-logo";
	status = "okay";
};

&vp0 {
	u-boot,dm-pre-reloc;
	rockchip,plane-mask = <(1 << 0 | 1 << 2)>;
	rockchip,primary-plane = <2>;
};

&vp1 {
	u-boot,dm-pre-reloc;
	rockchip,plane-mask = <(1 << 1 | 1 << 3)>;
	rockchip,primary-plane = <3>;
};

&vp2 {
	u-boot,dm-pre-reloc;
	rockchip,plane-mask = <(1 << 6 | 1 << 8)>;
	rockchip,primary-plane = <8>;
};

&vp3 {
	u-boot,dm-pre-reloc;
	rockchip,plane-mask = <(1 << 7 | 1 << 9)>;
	rockchip,primary-plane = <9>;
};

&hdmi0 {
	u-boot,dm-pre-reloc;
	enable-gpios = <&gpio4 RK_PB6 GPIO_ACTIVE_HIGH>;
	status = "okay";
};

&hdmi0_in_vp0 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&hdptxphy_hdmi0 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&route_hdmi0{
	u-boot,dm-pre-reloc;
	logo,uboot = "logo.bmp";
	connect = <&vp0_out_hdmi0>;
	status = "okay";
};
