CONFIG_ARM=y
CONFIG_ARCH_SUNXI=y
CONFIG_MACH_SUN50IW11=y
#CONFIG_AXP_GPIO=y
CONFIG_DEFAULT_DEVICE_TREE="sun50iw11-soc"
# CONFIG_SYS_MALLOC_CLEAR_ON_INIT is not set
CONFIG_CONSOLE_MUX=y
CONFIG_PRE_CONSOLE_BUFFER=n
CONFIG_OF_BOARD=y
#CONFIG_OF_SEPARATE=y
CONFIG_SYS_TEXT_BASE=0x43000000
CONFIG_SUNXI_FDT_ADDR=0x41700000

# Environment
CONFIG_ENV_IS_IN_SUNXI_FLASH=y
CONFIG_SYS_MAXARGS=64
CONFIG_SUNXI_REDUNDAND_ENVIRONMENT=y
CONFIG_SYS_REDUNDAND_ENVIRONMENT=y
CONFIG_SUNXI_ENV_PARTITION="env"
CONFIG_SUNXI_ENV_REDUNDAND_PARTITION="env-redund"
CONFIG_ENV_SIZE=0x20000

#system
CONFIG_ARM_SMCCC=y
CONFIG_SUNXI_DMA=y
#I2C
CONFIG_SYS_I2C_SUNXI=y
CONFIG_SYS_SUNXI_I2C_SLAVE=0x50
CONFIG_SYS_SUNXI_I2C_SPEED=400000
CONFIG_I2C0_ENABLE=y
CONFIG_I2C1_ENABLE=y

#axp
#CONFIG_R_I2C0_ENABLE=y
#CONFIG_SYS_SUNXI_R_I2C0_SLAVE=0x34
#CONFIG_SYS_SUNXI_R_I2C0_SPEED=400000
#CONFIG_SUNXI_POWER=y
#CONFIG_SUNXI_PMU=y
#CONFIG_SUNXI_BMU=y
#CONFIG_AXP2585_POWER=y

#key
CONFIG_SUNXI_PHY_KEY=y
CONFIG_SUNXI_LRADC_KEY=y

#SPI
CONFIG_SPI=y
CONFIG_SUNXI_SPI=y
CONFIG_SPI_USE_DMA=y
CONFIG_SPI_FLASH=y
CONFIG_SPI_FLASH_WINBOND=y
CONFIG_SPI_FLASH_EON=y
CONFIG_SPI_FLASH_GIGADEVICE=y
CONFIG_SPI_FLASH_ISSI=y
CONFIG_SPI_FLASH_MACRONIX=y
CONFIG_SPI_FLASH_SPANSION=y
CONFIG_SPI_FLASH_ATMEL=y
CONFIG_SPI_FLASH_STMICRO=y
CONFIG_SPI_FLASH_SST=y
CONFIG_SPI_FLASH_PUYA=y
CONFIG_SPI_FLASH_FM=y
CONFIG_SPI_FLASH_XMC=y

CONFIG_SF_DEFAULT_SPEED=50000000
# BIT(12) BIT(13) (SPI_RX_DUAL|SPI_RX_QUAD)
CONFIG_SF_DEFAULT_MODE=0x3000

#
# PWM_SUNXI
#
# CONFIG_PWM_SUNXI is not set
CONFIG_PWM_SUNXI_NEW=y

CONFIG_SPINOR_UBOOT_OFFSET=128
CONFIG_SPINOR_LOGICAL_OFFSET=2016

# flash
CONFIG_SUNXI_FLASH=y
CONFIG_SUNXI_SDMMC=y
CONFIG_SUNXI_NAND=y
CONFIG_SUNXI_SPINOR=y
# CONFIG_SUNXI_UBIFS is not set
# CONFIG_SUNXI_COMM_NAND is not set
CONFIG_SUNXI_COMM_NAND_V1=y
CONFIG_SUNXI_TURNNING_DRAM=n

#usb otg config
CONFIG_SUNXI_USB=y
CONFIG_SUNXI_EFEX=y
CONFIG_SUNXI_BURN=y
CONFIG_SUNXI_FASTBOOT=y
#partition
CONFIG_EFI_PARTITION=y

#image
CONFIG_ANDROID_BOOT_IMAGE=y

#sprite
CONFIG_SUNXI_SPRITE=y
CONFIG_SUNXI_SECURE_STORAGE=y

#secure
CONFIG_SUNXI_SECURE_BOOT=y
CONFIG_SUNXI_CE_10=y
CONFIG_SUNXI_KEYBOX=y
CONFIG_SUNXI_IMAGE_HEADER=y

#cmd
CONFIG_CMD_SUNXI_TIMER=y
CONFIG_CMD_SUNXI_SPRITE=y
CONFIG_CMD_SUNXI_EFEX=y
CONFIG_CMD_SUNXI_BURN=y
CONFIG_CMD_GPT=y
CONFIG_CMD_FAT=y
CONFIG_CMD_FASTBOOT=y
CONFIG_CMD_SUNXI_DMA=y
CONFIG_CMD_SUNXI_MEMTEST=y
CONFIG_CMD_PART=y
CONFIG_CMD_SF=y
CONFIG_CMD_SF_TEST=y
CONFIG_CMD_SUNXI_AUTO_FEL=n
CONFIG_CMD_SUNXI_BOOTR=y
#arisc
#CONFIG_SUNXI_ARISC_EXIST=y

#dsp
CONFIG_XTENSA_DSP=y
CONFIG_SUNXI_VERIFY_DSP=y
# CONFIG_SUNXI_INITRD_ROUTINE is not set
CONFIG_SUNXI_SPINOR_BMP=y

CONFIG_MMC=y

CONFIG_BOOTCMD_SKIP_MISC=y
CONFIG_BOOTCMD_SKIP_ADCKEY=y
# CONFIG_BOOTCMD_SKIP_RTC is not set

#COMP
CONFIG_SUNXI_COMP_GZ=y

#serailNo
CONFIG_SUNXI_SERIAL=y
CONFIG_SUNXI_USER_KEY=y
