CONFIG_ARM=y
CONFIG_ARCH_SUNXI=y
CONFIG_MACH_SUN50IW10=y
#CONFIG_AXP_GPIO=y
CONFIG_DEFAULT_DEVICE_TREE="sun50iw10p1-soc-system"
# CONFIG_SYS_MALLOC_CLEAR_ON_INIT is not set
CONFIG_OF_SEPARATE=y
CONFIG_SUNXI_NECESSARY_REPLACE_FDT=y
CONFIG_CONSOLE_MUX=y
# CONFIG_OF_BOARD=y
CONFIG_SYS_TEXT_BASE=0x4A000000
CONFIG_SUNXI_MALLOC_LEN=0x5a00000

#secure
CONFIG_SUNXI_SECURE_BOOT=y
CONFIG_SUNXI_IMAGE_VERIFIER=y
CONFIG_SUNXI_KEYBOX=y
CONFIG_SUNXI_CE_21=y
CONFIG_SUNXI_DRM_SUPPORT=y
#system
CONFIG_ARM_SMCCC=y
CONFIG_SUNXI_DMA=y
CONFIG_PHYS_64BIT=y

#I2C
CONFIG_SYS_I2C_SUNXI=y
CONFIG_I2C0_ENABLE=y
CONFIG_SYS_SUNXI_I2C0_SPEED=40000000
CONFIG_SYS_SUNXI_I2C0_SLAVE=0x0
CONFIG_SYS_SUNXI_R_I2C0_SLAVE=0x34
CONFIG_SYS_SUNXI_R_I2C0_SPEED=400000
CONFIG_R_I2C0_ENABLE=y
#power
CONFIG_SUNXI_POWER=y
CONFIG_PMIC_TPS65185=y

CONFIG_SUNXI_PMU=y
CONFIG_SUNXI_BMU=y
CONFIG_AXP81X_POWER=y
CONFIG_AXP81X_SUNXI_I2C_SLAVE=0x34
CONFIG_AXP858_POWER=y
CONFIG_AXP858_SUNXI_I2C_SLAVE=0x36
CONFIG_AXP806_POWER=y
CONFIG_AXP806_SUNXI_I2C_SLAVE=0x36

CONFIG_AXP2202_POWER=y
CONFIG_AXP2202_SUNXI_I2C_SLAVE=0x34

# flash
CONFIG_SUNXI_SDMMC=y
CONFIG_MMC=y
CONFIG_SUNXI_FLASH=y
CONFIG_SUNXI_NAND=y

#nsi
CONFIG_SUNXI_NSI=y

#usb otg config
CONFIG_SUNXI_USB=y
CONFIG_SUNXI_EFEX=y
CONFIG_SUNXI_BURN=y

#partition
CONFIG_EFI_PARTITION=y
CONFIG_LAST_PARTITION_NAME="userdata"

#image
CONFIG_ANDROID_BOOT_IMAGE=y

#sprite
CONFIG_SUNXI_SPRITE=y
CONFIG_SUNXI_SECURE_STORAGE=y
CONFIG_SUNXI_SPRITE_CARTOON=y
CONFIG_SUNXI_UPDATE_GPT=y

#android
CONFIG_SUNXI_MAC=y
CONFIG_SUNXI_USER_KEY=y
CONFIG_SUNXI_AVB=y
CONFIG_SUNXI_ANDROID_BOOT=y
CONFIG_SUNXI_SERIAL=y
CONFIG_SUNXI_VERIFY_BOOT_INFO_INSTALL=y
CONFIG_ANDROID_AB=y

#cmd
CONFIG_CMD_SUNXI_TIMER=y
CONFIG_CMD_SUNXI_SPRITE=y
CONFIG_CMD_SUNXI_EFEX=y
CONFIG_CMD_SUNXI_BURN=y
CONFIG_CMD_GPT=y
CONFIG_CMD_FAT=y
CONFIG_CMD_SUNXI_MEMTEST=y
CONFIG_CMD_FASTBOOT=y
CONFIG_CMD_PART=y
CONFIG_CMD_AB_SELECT=y
#arisc
CONFIG_SUNXI_ARISC_EXIST=y

#overlay
CONFIG_SUNXI_ANDROID_OVERLAY=y

#turning
CONFIG_SUNXI_OTA_TURNNING=y
#
#eink
CONFIG_DISP2_SUNXI=y
CONFIG_EINK200_SUNXI=y


#
# Clock
#
CONFIG_CLK_SUNXI=y
