CONFIG_ARM=y
CONFIG_ARCH_SUNXI=y
CONFIG_MACH_SUN8IW21=y
CONFIG_SUNXI_GPIO_V2=y
#CONFIG_AXP_GPIO=y
CONFIG_SYS_CONFIG_NAME="sun8iw21p1"
CONFIG_DEFAULT_DEVICE_TREE="sun8iw21p1-soc-system"
# CONFIG_SYS_MALLOC_CLEAR_ON_INIT is not set
CONFIG_CONSOLE_MUX=y
CONFIG_SUNXI_NECESSARY_REPLACE_FDT=y
CONFIG_RESERVE_FDT_SIZE=0x20000
CONFIG_PRE_CONSOLE_BUFFER=n
# CONFIG_OF_BOARD=y
CONFIG_OF_SEPARATE=y
CONFIG_SYS_TEXT_BASE=0x43000000
CONFIG_SUNXI_FDT_ADDR=0x41800000

# Environment
# CONFIG_ENV_IS_IN_SUNXI_FLASH=y
# CONFIG_SYS_MAXARGS=64
# CONFIG_SUNXI_REDUNDAND_ENVIRONMENT=y
# CONFIG_SYS_REDUNDAND_ENVIRONMENT=y
# CONFIG_SUNXI_ENV_PARTITION="env"
CONFIG_SUNXI_ENV_BACKUP=y
# CONFIG_SUNXI_ENV_REDUNDAND_PARTITION="env-redund"
# CONFIG_ENV_SIZE=0x20000

#system
CONFIG_ARM_SMCCC=y
CONFIG_SUNXI_DMA=y
CONFIG_CLK_SUNXI=y

CONFIG_SF_DEFAULT_SPEED=50000000
# BIT(12) BIT(13) (SPI_RX_DUAL|SPI_RX_QUAD)
CONFIG_SF_DEFAULT_MODE=0x3000
CONFIG_SPINOR_UBOOT_OFFSET=128
CONFIG_SPINOR_LOGICAL_OFFSET=2016


#axp
CONFIG_SYS_I2C_SUNXI=y
CONFIG_I2C1_ENABLE=y
CONFIG_SYS_SUNXI_I2C1_SLAVE=0x34
CONFIG_SYS_SUNXI_I2C1_SPEED=400000
CONFIG_SUNXI_POWER=y
CONFIG_SUNXI_PMU=y
CONFIG_AXP2101_POWER=y
CONFIG_AXP2101_SUNXI_I2C_SLAVE=0x34


#key
#CONFIG_SUNXI_PHY_KEY=y
#CONFIG_SUNXI_LRADC_KEY=y


#crypto driver
#CONFIG_SF_DEFAULT_SPEED=50000000
# BIT(12) BIT(13) (SPI_RX_DUAL|SPI_RX_QUAD)
#CONFIG_SF_DEFAULT_MODE=0x3000

#
# PWM_SUNXI
#
CONFIG_PWM_SUNXI=y
# CONFIG_PWM_SUNXI_NEW is not set

#CONFIG_SPINOR_UBOOT_OFFSET=128
#CONFIG_SPINOR_LOGICAL_OFFSET=2016

# flash
CONFIG_SUNXI_SDMMC=y
CONFIG_MMC=y
CONFIG_SUNXI_FLASH=y

#usb otg config
CONFIG_SUNXI_USB=y
CONFIG_SUNXI_EFEX=y
CONFIG_SUNXI_BURN=y
CONFIG_SUNXI_FASTBOOT=y
#partition
CONFIG_EFI_PARTITION=y

#image
CONFIG_ANDROID_BOOT_IMAGE=y

#sprite
CONFIG_SUNXI_SPRITE=y
CONFIG_SUNXI_SECURE_STORAGE=y
CONFIG_SUNXI_SPRITE_CARTOON=y

#secure feature
CONFIG_SUNXI_SECURE_BOOT=y
CONFIG_SUNXI_IMAGE_VERIFIER=y
CONFIG_SUNXI_KEYBOX=y
CONFIG_SUNXI_DRM_SUPPORT=y
CONFIG_SUNXI_EXTERN_SECURE_MM_LAYOUT=y


CONFIG_SUNXI_HOMLET=y
CONFIG_SUNXI_HDCP_HASH=y
CONFIG_SUNXI_HDCP_IN_SECURESTORAGE=y

#cmd
CONFIG_CMD_SUNXI_TIMER=y
CONFIG_CMD_SUNXI_SPRITE=y
CONFIG_CMD_SUNXI_EFEX=y
CONFIG_CMD_SUNXI_BURN=y
CONFIG_CMD_GPT=y
CONFIG_CMD_FAT=y
CONFIG_CMD_FASTBOOT=y
CONFIG_CMD_SUNXI_DMA=y
CONFIG_CMD_SUNXI_CLK=y
CONFIG_CMD_SUNXI_MEMTEST=y
CONFIG_CMD_PART=y
CONFIG_CMD_SUNXI_AUTO_FEL=n
CONFIG_CMD_SUNXI_BOOTR=y
#arisc
#CONFIG_SUNXI_ARISC_EXIST=y

# CONFIG_SUNXI_INITRD_ROUTINE is not set
#dsp
#CONFIG_XTENSA_DSP=y
#riscv
#CONFIG_RISCV_E907=y

