#
# Phy drivers for Allwinner platforms
#
config PHY_SUN4I_USB
	bool "Allwinner Sun4I USB PHY driver"
	depends on ARCH_SUNXI
	select PHY
	help
	  Enable this to support the transceiver that is part of Allwinner
	  sunxi SoCs.

	  This driver controls the entire USB PHY block, both the USB OTG
	  parts, as well as the 2 regular USB 2 host PHYs.

config AW_INNO_COMBOPHY
	tristate "Allwinner INNO COMBO PHY Driver"
	default n
	depends on ARCH_SUNXI
	help
	  Enable this to support the Allwinner PCIe/USB3.0 combo PHY
	  with INNOSILICON IP block.

config AW_CADENCE_COMBOPHY
	bool "Allwinner CADENCE COMBO PHY Driver"
	default n
	depends on ARCH_SUNXI
	select PHY
	help
	  Enable this to support the Allwinner PCIe/USB3.0/DisplayPort combo PHY
	  with CADENCE IP block.
